.bettingSlots {
  width: 10%;
  display: inline-block;
}
.clear {
  border-radius: 0;
  background-color: white;
  color: black;
}

.container {
  text-align: center;
  margin: auto;
  width: 70%;
}

.dice {
  display: inline-block;
}

.slot5 {
  margin-left: 10px;
  width: 80%;
}
.slot10 {
  width: 90%;
}
body {
  background-color: #393e46;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
button {
  background-color: #fd5d5d;
  border: #232931;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 30px;
  height: 40px;
  padding: 10px 16px;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #d9534f;
  cursor: pointer;
}

Button:focus {
  background-color: #99a799;
}

footer {
  margin-top: 10%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

h1 {
  color: #4ecca3;
  font-family: "PT Sans", sans-serif;
  font-size: 8rem;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

h2 {
  text-align: left;
}

img {
  width: 80%;
}

p {
  font-size: 28px;
  color: #4ecca3;
  font-family: "Kalam", cursive;
}
